@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap");

:root {
  --surface-1: #070809;
  --surface-2: #0b0d0e;
  --surface-3: #111315;
  --primary-color: #2a85ff;
}

body,
html {
  background-color: var(--surface-2);
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}

.footer {
  height: 50vh;
  background-color: var(--surface-1);
}

::-moz-selection {
  background: var(--primary-color);
}

::selection {
  background: var(--primary-color);
}
